<p>Bonjour <b>{{firstname}} {{lastname}}</b>,</p>

<p>Nous avons le plaisir de vous informer que votre compte sur Arcadia a été créé avec succès. Vous pouvez dès à présent accéder à la plateforme en utilisant les informations suivantes :</p>

<p>Nom d'utilisateur : <b>{{email}}</b></p>

<p>Mot de passe : Veuillez vous rapprocher de l'administrateur pour obtenir votre mot de passe.</p>

<p>Pour vous connecter, rendez-vous sur notre site web via ce lien : <b><a href="{{login_page_url}}">{{login_page_url}}</a></b></p>

<p>Si vous avez des questions ou besoin d'aide pour démarrer, n'hésitez pas à nous contacter.</p>

<p>Nous sommes ravis de vous accueillir au sein de la communauté Arcadia et espérons que vous apprécierez votre expérience.</p>

<p>Bien à vous,</p>
<p>L'équipe <b>Arcadia</b></p>